/.wiseguy
/docs
/node_modules/*
/*/node_modules/*
!/compassion.channel/node_modules/example.js
!/compassion.root/node_modules/compassion.test.js
/compassion.counterfeiter/t/fixtures/counterfeiter.jsons
/.proof.out
/coverage
/*/coverage
