p Go <a href="..">home</a>.
ul
  each file in argv[0]
    if /\.js\.html$/.test(file.path)
      li <a href="#{file.name}">#{file.name}</a>
  else
    li There are no values.
// vim: set ts=2 sw=2 nowrap:
